body {
  color: white;
}

textarea {
  background-color: rgb(50, 50, 50);
  color: white;
}

button {
  background-color: rgb(30, 30, 30);
  color: white;
  border-color: rgb(60, 60, 60);
}
button:hover {
  background-color: rgb(60, 60, 60);
}

.backgroundContainer {
  background-color: rgb(20, 20, 20);
}

#displayBox {
  color: white;
  background-color: rgba(32, 32, 32, 0.75);
  border-color: white;
}
.displayColour {
  border-color: white;
}
#graphData {
  background-color: #1e1e1e;
}